# Project specific
Labs/
specification.txt
*.pdf

# Model files (too large for git)
*.pth
*.pkl

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini